<ion-view view-title="Study Board ({{studySessions.length}})" hide-back-button="true">
	<ion-header-bar class="bar-subheader">
		<list-filter filter-text="filterText" placeholder="'Filter by name, courses, location, or tags'"></list-filter>
	</ion-header-bar>
	<ion-content>
		<ion-item class="item-text-wrap" ng-if="studySessions.length === 0">
			<span>No active study sessions found for your university. Pull down to refresh, or start a new one!</span>
		</ion-item>
		<ion-refresher pulling-text="Pull to refresh!" on-refresh="getStudySessions()"></ion-refresher>
		<ion-list>
			<div ng-repeat="studySession in studySessions | filter:filterText">
				<study-session-item study-session="studySession"></study-session-item>
			</div>
		</ion-list>
	</ion-content>
	<ion-footer-bar class="padding">
		<button class="button button-full button-positive" ui-sref=".createSession">Start a Study Session</button>
	</ion-footer-bar>
</ion-view>
