<div class="item item-avatar" ui-sref=".profile({id: user.id})">
  <img ng-if="user.pictureUrl" ng-src="{{user.pictureUrl}}">
  <i class="icon ion-person img-icon" ng-if="!user.pictureUrl"></i>
  <span>{{user.name}}</span>
  <br>
  <span>{{user.email}}</span>
</div>
