<div class="item" ng-repeat="course in courses | orderBy: ['subject', 'number']">
  <div class="row">
    <div class="col col-50">
      <h3 ng-bind="course.subject + ' ' + course.number"></h3>
    </div>
    <div class="col col-50">
      <h3 class="pull-right sd-align--right">{{course.professor}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col col-75">
      {{course.name}}
    </div>
  </div>
</div>
