<ion-view view-title="{{viewTitle}}">
  <ion-content class="padding" scroll="false">
    <ion-list>
      <ion-item class="item-divider item-text-wrap">
        <span ng-bind="course.name"></span>
      </ion-item>
      <ion-item>
        <span ng-bind="course.professor"></span>
      </ion-item>
    </ion-list>

    <div class="inner-tabs">

      <div class="inner-tabs__tab-container">
        <div class="button-bar bar-stable">
          <button class="button button-small button-block" ng-class="{'button-dark' : activeTab === 'members'}" ng-click="activeTab = 'members'">Members</button>
          <button class="button button-small button-block" ng-class="{'button-dark' : activeTab === 'sessions'}" ng-click="activeTab = 'sessions'">Board Posts</button>
          <button class="button button-small button-block" ng-class="{'button-dark' : activeTab === 'teams'}" ng-click="activeTab = 'teams'">Teams</button>
        </div>

        <div ng-show="activeTab === 'members'">
          <list-filter filter-text="searchtext" placeholder="'Filter users by name or email'"></list-filter>
        </div>
      </div>

      <ion-scroll class="inner-tabs__scroll-container" zooming="true" direction="y">
        <div class="inner-tabs__scroll-content">
          <!-- List of members -->
          <ion-list ng-show="activeTab === 'members'">
            <div ng-repeat="user in course.users | filter:searchtext">
              <user-item user="user"></user-item>
            </div>
          </ion-list>
      </ion-scroll>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="padding">
    <button type="button" class="button button-full button-positive" ng-click="optionsPopover.show($event)">Options</button>
  </ion-footer-bar>
</ion-view>

<script id="options-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar class="bar-dark">
      <h1 class="title">Course Options</h1>
    </ion-header-bar>
    <ion-content>
      <button class="button button-full button-stable" ng-click="leaveCourse()">Leave Course</button>
    </ion-content>
  </ion-popover-view>
</script>
