<ion-view view-title="My Courses: {{semester}}" hide-back-button="true">
    <ion-content>
        <!-- List of classes -->
        <!-- TODO: make these classes clickable, linked to class view -->
        <ion-list>
            <ion-item class="item-text-wrap" ng-show="!auth.currentUser.university">
                <p>You haven't selected a university yet. Go to My Account to select a university!</p>
            </ion-item>
            <ion-item class="item-text-wrap" ng-show="courses.length == 0">
                <p>You haven't added any courses yet. Tap Add a Course to start!</p>
            </ion-item>
            <ion-item class="item-icon-right" ui-sref=".course({id: course.id, shortName: course.shortName})" ng-repeat="course in courses | orderBy: ['subject', 'number']">
                <div class="row">
                    <h3 ng-bind="course.shortName"></h3>
                </div>
                <i class="icon ion-arrow-right-b"></i>
            </ion-item>
        </ion-list>
    </ion-content>
    <!-- Footer with Add Class button -->
    <ion-footer-bar class="padding">
        <button class="button button-full button-positive" ng-click="addCourseModal.init(); addCourseModal.show()">Add a Course</button>
    </ion-footer-bar>
</ion-view>
