<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Add a Course</h1>
  </ion-header-bar>
  <ion-header-bar class="bar-subheader">
    <list-filter filter-text="searchtext" placeholder="'Filter by course name, number, or professor'"></list-filter>
  </ion-header-bar>
  <ion-content class="has-subheader">
    <ion-list>
      <ion-item>
        <button class="button button-full button-positive" ng-click="createCourseModal.init(); createCourseModal.show();">Don't see your course? Create a new one.</button>
      </ion-item>
      <ion-item class="item-text-wrap" ng-show="addCourseForm.courses.length == 0">
        <p>No courses found for your university.</p>
      </ion-item>
      <!-- List of Courses -->
      <ion-item class="item-checkbox" ng-repeat="course in addCourseForm.courses | filter:searchtext | orderBy: ['subject', 'number']">
        <label class="checkbox">
          <input type="checkbox" ng-model="course.selected">
        </label>
        <div class="row">
          <div class="col col-50">
            <h3 ng-bind="course.shortName"></h3>
          </div>
          <div class="col col-50 sd-align--right">
            <h3 class="pull-right">{{course.professor}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col col-75">
            {{course.name}}
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-dark">
    <div class="button-bar">
      <button class="button button-small button-positive" ng-click="addCourseForm.submit()">Save</button>
      <button class="button button-small button-assertive" ng-click="addCourseModal.hide()">Cancel</button>
    </div>
  </ion-footer-bar>
</ion-modal-view>
