<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Create a New Course</h1>
  </ion-header-bar>
  <ion-content>
    <!-- Create class form -->
    <form ng-submit="createCourseForm.submit()">
      <ion-list>
        <ion-item class="item-input item-stacked-label">
          <span class="input-label">Catalog Code
            <small>ex: "12345"</small>
          </span>
          <input type="text" ng-model="createCourseForm.course.catalogCode">
        </ion-item>
        <ion-item class="item-input item-stacked-label">
          <span class="input-label">Subject
            <small>ex: "CHEM"</small>
          </span>
          <input type="text" ng-model="createCourseForm.course.subject">
        </ion-item>
        <ion-item class="item-input item-stacked-label">
          <span class="input-label">Number
            <small>ex: "120"</small>
          </span>
          <input type="text" ng-model="createCourseForm.course.number">
        </ion-item>
        <ion-item class="item-input item-stacked-label">
          <span class="input-label">Name
            <small>ex: "General Chemistry 1"</small>
          </span>
          <input type="text" ng-model="createCourseForm.course.name">
        </ion-item>
        <ion-item class="item-input item-stacked-label">
          <span class="input-label">Professor
            <small>ex: "John Doe"</small>
          </span>
          <input type="text" ng-model="createCourseForm.course.professor">
        </ion-item>
        <ion-item class="item-input item-stacked-label">
          <span class="input-label">Term</span>
          <input type="text" ng-model="createCourseForm.course.term" readonly>
        </ion-item>
        <ion-item class="item-input item-stacked-label">
          <span class="input-label">Year</span>
          <input type="text" ng-model="createCourseForm.course.year" readonly>
        </ion-item>
      </ion-list>
    </form>
  </ion-content>
  <ion-footer-bar class="bar-dark">
    <div class="button-bar">
      <button class="button button-positive" ng-click="createCourseForm.submit();">Save</button>
      <button class="button button-assertive" ng-click="createCourseModal.hide()">Cancel</button>
    </div>
  </ion-footer-bar>
</ion-modal-view>
