.sd-align {

	&--left {
		text-align: left;
	}

	&--center {
		text-align: center;
	}

	&--right {
		text-align: right;
	}
}

.segmented-row {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;

	.left, .right {
		flex: 1 1 auto;
	}

	.right {
		text-align: right;
	}
}
