// copy of ionic's item-button-right class but for the timepicker
.item-button-right > ionic-timepicker {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 16px;
  min-width: 34px;
  min-height: 34px;
  font-size: 18px;
  line-height: 32px;
}
