<ion-view title="Study Teams">
	<ion-header-bar class="bar-subheader">
		<list-filter filter-text="searchtext" placeholder="'Filter by team name'"></list-filter>
	</ion-header-bar>
	<ion-content class="padding">
		<ion-list>
			<ion-item class="item-icon-right" ui-sref=".team({id: team.id})" ng-repeat="team in myTeams | filter:searchtext">
				<div class="row">
				<div class="row segmented-row">
                    <div class="left">
    					<h3>{{team.name}}</h3>
                        <small>{{team.members.length}} Memebers</small>
                    </div>
                    <div class="right">
    					<p>{{team.upcommingSessions.length}} Upcomming Sessions</p>
    					<p>{{team.unreadMsgs}} Unread Messages</p>
                    </div>
				</div>
				</div>
				<i class="icon ion-arrow-right-b"></i>
			</ion-item>
		</ion-list>
	</ion-content>
	<ion-footer-bar class="padding">
		<button class="button button-full button-positive" ng-click="openModal()">Create a Team</button>
	</ion-footer-bar>
</ion-view>

<!-- Add New Post Modal -->
<script id="create-team-modal.html" type="text/ng-template">
	<ion-modal-view>
		<ion-header-bar class="bar-dark">
			<h1 class="title">Create a Team</h1>
		</ion-header-bar>
		<ion-content>
			<div class="list">
				<label class="item item-input item-select">
					<div class="input-label">
						Studying what?
					</div>
					<select>
						<option>Class</option>
					</select>
				</label>
				<label class="item item-input">
					<span class="input-label">Where?</span>
					<input type="text" placeholder="Library, 5ht Floor">
				</label>
				<div class="item item-input-inset">
					<label class="item-input-wrapper">
						<input type="text" placeholder="Add members">
					</label>
					<button class="button button-small">
						Add
					</button>
				</div>
			</div>
		</ion-content>
		<ion-footer-bar class="bar-dark">
			<div class="button-bar">
				<button class="button button-positive" ng-click="newPostForm.post(); closeModal();">Post</button>
				<button class="button button-assertive" ng-click="closeModal()">Cancel</button>
			</div>
		</ion-footer-bar>
	</ion-modal-view>
</script>
