<ion-view view-title="StudyDraft: Register" hide-back-button="true">
    <ion-content class="padding">
        <!-- Intro Text -->
        <div class="card">
            <div class="item item-text-wrap">
                <center>
                    <h2>Join the social network that helps you study.</h2>
                </center>
            </div>
        </div>
        <!-- Register Form -->
        <form ng-submit="registerForm.submit()">
            <div class="list list-inset">
                <!-- Name -->
                <label class="item item-input">
                    <input type="text" placeholder="First Name" ng-model="registerForm.firstName">
                </label>
                <!-- Last Name -->
                <label class="item item-input">
                    <input type="text" placeholder="Last Name" ng-model="registerForm.lastName">
                </label>
                <!-- Email -->
                <label class="item item-input">
                    <input type="email" placeholder="Email" ng-model="registerForm.email">
                </label>
                <!-- Phone number -->
                <label class="item item-input">
                    <input type="tel" placeholder="Phone Number" ng-model="registerForm.phoneNumber">
                </label>
                <!-- Password -->
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="registerForm.password">
                </label>

            </div>
            <button class="button button-block button-dark" type="submit">
                Register
            </button>
        </form>
        <!-- Register with Facebook -->
        <button class="button button-block button-dark icon-left ion-social-facebook" ng-click="registerFacebook()">
            Register with Facebook
        </button>
    </ion-content>
</ion-view>
