<!-- TODO: add dirty indicators -->
<ion-view view-title="My Account">
  <ion-content>
    <form ng-submit="settingsForm.submit()">
      <ion-list>
        <!-- User Information -->
        <ion-item class="item-divider">
          <small>Your Information</small>
        </ion-item>
        <ion-item class="item-input item-stacked-label">
          <span class="input-label">First Name</span>
          <input type="text" ng-model="settingsForm.user.firstName">
        </ion-item>
        <ion-item class="item-input item-stacked-label">
          <span class="input-label">Last Name</span>
          <input type="text" ng-model="settingsForm.user.lastName">
        </ion-item>
        <ion-item class="item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="text" ng-model="settingsForm.user.email">
        </ion-item>
        <ion-item class="item-input item-stacked-label">
          <span class="input-label">Phone Number</span>
          <input type="text" ng-model="settingsForm.user.phoneNumber">
        </ion-item>
        <!-- Selected University -->
        <ion-item class="item-divider">
          <small>My University</small>
        </ion-item>
        <ion-item ng-show="settingsForm.user.university">
          <p ng-bind="settingsForm.user.university.shortName"></p>
          <button type="button" class="button button-full button-small button-positive" ng-click="selectUniversityModal.show(); selectUniversityModal.init();">
            Change my University</button>
        </ion-item>
        <ion-item ng-hide="settingsForm.user.university">
          <p>You haven't joined a university.</p>
          <button type="button" class="button button-full button-small button-positive" ng-click="selectUniversityModal.show(); selectUniversityModal.init();">
            Join a University</button>
        </ion-item>
        <!-- Option to link Facebook account -->
        <ion-item class="item-divider">
          <small>Facebook Account</small>
        </ion-item>
        <ion-item ng-hide="settingsForm.user.facebookId > 0">
          <button type="button" class="button button-full button-small button-positive icon-left ion-social-facebook" ng-click="syncFacebook()">
            Connect my Facebook Account
          </button>
        </ion-item>
        <ion-item ng-show="settingsForm.user.facebookId > 0">
          <div class="row">
            <div class="col-25">
              <img ng-if"settingsForm.user.pictureUrl" ng-src="{{settingsForm.user.pictureUrl}}"/>
            </div>
            <div class="col-75">
              <p>Facebook User Id:</p>
              <p ng-bind="settingsForm.user.facebookId"></p>
            </div>
          </div>
          <button type="button" class="button button-full button-small button-positive icon-left ion-social-facebook" ng-click="syncFacebook()">
            Update my Facebook Account
          </button>
        </ion-item>
        <!-- Change password -->
        <ion-item class="item-divider">
          <small>Password</small>
        </ion-item>
        <ion-item>
          <button type="button" class="button button-full button-small button-positive" ng-click="changePasswordModal.show();">
            Change my Password</button>
        </ion-item>
      </ion-list>
    </form>
  </ion-content>
  <ion-footer-bar class="bar-light">
    <button class="button button-full button-dark" ng-click="settingsForm.submit()">Save Changes</button>
  </ion-footer-bar>
</ion-view>
