<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Add a University</h1>
  </ion-header-bar>
  <ion-header-bar class="bar-subheader">
    <list-filter filter-text="searchtext" placeholder="'Filter by university name'"></list-filter>
  </ion-header-bar>
  <ion-content class="has-subheader">
    <!-- List of universities -->
    <ion-radio ng-repeat="university in filteredUniversities = (selectUniversityForm.universities | filter:searchtext | limitTo : universityLimit | orderBy: 'name')" ng-value="university" ng-model="selectUniversityForm.selectedUniversity">{{university.name}}</ion-radio>
    <ion-infinite-scroll on-infinite="loadMore()" ng-if="filteredUniversities.length > universityLimit" immediate-check="false" distance="1%">
    </ion-infinite-scroll>
  </ion-content>
  <ion-footer-bar class="bar-dark">
    <div class="button-bar">
      <button class="button button-positive" ng-click="selectUniversityForm.submit(); selectUniversityModal.hide()">Save</button>
      <button class="button button-assertive" ng-click="selectUniversityModal.hide()">Cancel</button>
    </div>
  </ion-footer-bar>
</ion-modal-view>
