<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Change My Password</h1>
  </ion-header-bar>
  <ion-content>
    <ion-item class="item-input item-stacked-label">
      <span class="input-label">Current Password</span>
      <input type="password" ng-model="changePasswordForm.currentPassword">
    </ion-item>
    <ion-item class="item-input item-stacked-label">
      <span class="input-label">New Password</span>
      <input type="password" ng-model="changePasswordForm.newPassword">
    </ion-item>
    <ion-item class="item-input item-stacked-label">
      <span class="input-label">Confirm New Password</span>
      <input type="password" ng-model="changePasswordForm.newPasswordConfirm">
    </ion-item>
  </ion-content>
  <ion-footer-bar class="bar-dark">
    <div class="button-bar">
      <button class="button button-positive" ng-click="changePasswordForm.submit()">Submit</button>
      <button class="button button-assertive" ng-click="changePasswordModal.hide()">Cancel</button>
    </div>
  </ion-footer-bar>
</ion-modal-view>
