<ion-view view-title="Profile">
  <ion-content class="padding" scroll="false">
		<ion-list>
      <ion-item class="item-divider item-text-wrap">
        <h2 ng-bind="user.name + ', ' + user.university.shortName"></h2>
      </ion-item>
      <ion-item class="item-text-wrap">
        <div class="row">
          <div class="profile__img-container col col-33">
            <img  class="profile__img" ng-if="user.facebookId" ng-src="http://graph.facebook.com/{{user.facebookId}}/picture" width="70" height="70"/>
            <i class="icon ion-person img-icon--profile" ng-if="!user.pictureUrl"></i>
          </div>
          <div class="col col-67 user-details">
            <div class="profile__social-bar">
              <a class="profile__social-icon button button-icon icon ion-social-facebook" href="#" ng-click="openFacebook()"></a>
              <a class="profile__social-icon button button-icon icon ion-email" ng-click="openEmail()"></a>
              <a class="profile__social-icon button button-icon icon ion-chatbox" ng-click="openSms()"></a>
              <a class="profile__social-icon button button-icon icon ion-ios-telephone" ng-click="openCall()"></a>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>

    <div class="inner-tabs">
      <div class="inner-tabs__tab-container">
        <div class="button-bar bar-stable">
          <button class="button button-small" ng-class="{'button-dark' : activeTab === 'courses'}" ng-click="activeTab = 'courses'">Courses</button>
          <button class="button button-small" ng-class="{'button-dark' : activeTab === 'sessions'}" ng-click="activeTab = 'sessions'">Board Posts</button>
          <button class="button button-small" ng-class="{'button-dark' : activeTab === 'teams'}" ng-click="activeTab = 'teams'">Teams</button>
        </div>
      </div>
      <ion-scroll class="inner-tabs__scroll-container" direction="y" zooming="true">
        <div class="inner-tabs__scroll-content">
          <ion-list ng-show="activeTab === 'courses'">
    				<course-items courses="user.courses"></course-items>
          </ion-list>
        </div>
      </ion-scroll>
    </div>
  </ion-content>
</ion-view>
