<div class="item item-icon-right item-text-wrap" ui-sref=".session({id: studySession.id})">
  <div class="row">
    <div class="col col-100">
      <h2>
        <delimited-list items="studySession.users" property="'shortName'" limit-items="2" delimiter="', '" show-remainder="true"></delimited-list>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col col-100">
      <small ng-repeat="course in studySession.courses track by $index">
        {{course.shortName}}<span ng-if="!($last) || studySession.tags.length > 0">, </span>
      </small>
      <small class="study-session__tag" ng-repeat="tag in studySession.tags track by $index">{{tag}}</small>
    </div>
  </div>
  <div class="row">
    <div class="col col-50">
      <span class="study-session-item__location-description">
        <small>@ {{studySession.locationDescription}}</small>
      </span>
    </div>
    <div class="col col-50">
      <span class="study-session-item__time-remaining">
        <small>{{studySession.createdAt | sessionDuration:studySession.endingAt}}</small>
      </span>
    </div>
  </div>
  <i class="icon ion-arrow-right-b"></i>
</div>
