<div>
  <span class="{{itemClass}}" ng-repeat="item in items | limitTo: limitItems">
    {{getValue(item)}}<spna ng-if="!($last)">{{delimiter}}</span>
  </span>
  <span ng-if="showRemainder && getRemainder() > 0"> + {{getRemainder()}} more</span>
</div>
