.profile {

  &__social-bar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }


  &__img-container {
    display: flex;
    align-items: center;
  }


  &__img {
    border-radius: 50%;
  }


  &__social-icon {
    flex: 1 0 auto;
    font-size: 1.6rem;
    text-align: center;
  }


  &__content {
    top: 215px;
  }
}
