.tag-badge {
  @extend %badge-base;
}

.study-session {

  &__tag {
    background-color: #8BC34A;
    color: white;
    border-radius: 2px;
    margin: 1px;
    padding: 2px;

  }

}

.study-session-item {

  &__location-description {
    display: flex;
    align-items: center;
  }

  &__time-remaining {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
