.study-board {

  /* segmented-row overrides */
  &__session {
    .segmented-row {
      .left, .right {
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .left {
        padding-right: 5px;
      }
    }
  }
}
