.user-details {
  overflow: hidden;
}

.img-icon {
  position: absolute;
  color: rgba(0,0,0,0.7);
  background-color: rgba(0,0,0,0.2);
  font-size: 2.9rem;
  line-height: 40px;
  text-align: center;
  top: 16px;
  left: 16px;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.img-icon--profile {
  @extend .img-icon;
  position: initial;
  flex: 1 0 auto;
  font-size: 5rem;
  max-width: 70px;
  max-height: 70px;
  margin: 0 10px 0 0;
}

.user-badge {
  display: inline-block;
  border: 1px solid #DDD;
  margin: 5px;
  border-radius: 1px;
  &__button {
    background: orange;
  }
}
