<!-- Add New Courses Modal -->
<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Add Courses</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-text-wrap" ng-show="addCoursesForm.userCourses.length == 0">
        <p>No courses found for your profile.</p>
      </ion-item>
      <ion-item class="item-divider">
        Your Courses
      </ion-item>
<!-- List of User's classes -->
      <ion-item class="item-checkbox" ng-repeat="course in addCoursesForm.userCourses | orderBy: ['subject', 'number']">
        <label class="checkbox">
          <input ng-model="course.selected" type="checkbox">
        </label>
        <div class="row">
          <div class="col col-50">
            <h3 ng-bind="course.shortName"></h3>
          </div>
          <div class="col col-50 sd-align--right">
            <h3 class="pull-right">{{course.professor}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col col-75">
            {{course.name}}
          </div>
        </div>
      </ion-item>
      <ion-item class="item-text-wrap" ng-show="addCoursesForm.allCourses.length == 0">
        <p>No courses found for your university.</p>
      </ion-item>
      <ion-item class="item-divider">
        All Courses at your University
      </ion-item>
<!-- List of All University Classes -->
      <ion-item class="item-checkbox" ng-repeat="course in addCoursesForm.allCourses | orderBy: ['subject', 'number']">
        <label class="checkbox">
          <input ng-model="course.selected" type="checkbox">
        </label>
        <div class="row">
          <div class="col col-50">
            <h3 ng-bind="course.shortName"></h3>
          </div>
          <div class="col col-50 sd-align--right">
            <h3 class="pull-right">{{course.professor}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col col-75">
            {{course.name}}
          </div>
        </div>
      </ion-item>
    </ion-content>
    <ion-footer-bar class="bar-dark">
      <div class="button-bar">
        <button class="button button-positive" ng-click="addCoursesForm.submit(); addCoursesModal.hide()">Save</button>
        <button class="button button-assertive" ng-click="addCoursesModal.hide()">Cancel</button>
      </div>
    </ion-footer-bar>
  </ion-modal-view>
