<ion-list>
  <label class="item item-input">
    <span class="input-label">Date</span>
    <input type="date" ng-model="start.date">
  </label>
  <label class="item item-input item-select">
    <div class="input-label">
      Time
    </div>
    <select ng-model="start.time" ng-options="time.display for time in sessionTimes"></select>
  </label>
</ion-list>
