<!-- Add New Members Modal -->
<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Add Members</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <form ng-submit="addMembersForm.search()">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input placeholder="Name" type="text" ng-model="addMembersForm.searchText">
          </label>
          <button type="submit" class="button button-small">
            Search
          </button>
        </div>
      </form>

      <ion-item class="item-text-wrap" ng-show="addMembersForm.members.length == 0">
        <p>No results. Enter a name above.</p>
      </ion-item>

      <!-- List of Members based on search -->
      <user-item user="member" ng-repeat="member in addMembersForm.members" ng-click="addMembersForm.addMember(member, $index)"></user-item>

    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-dark">
    <div class="button-bar">
      <button class="button button-positive" ng-click="addMembersModal.hide()">Done</button>
    </div>
  </ion-footer-bar>
</ion-modal-view>
