<ion-view view-title="Study Session">
  <ion-content class="padding" scroll="flase">
    <!-- Primary info item -->
    <ion-list>
      <ion-item class="item-text-wrap item-divider">
        <delimited-list items="studySession.users" property="'shortName'" delimiter="', '" limit-items="99"></delimited-list>
      </ion-item>
      <ion-item class="study-session-item item-text-wrap">
        <div class="row">
          <div class="col col-100">
            <delimited-list items="studySession.courses" property="'shortName'" limit-items="3" delimiter="', '" show-remainder="true"></delimited-list>
          </div>
        </div>

        <div class="row">
          <div class="col col-100">
            <delimited-list items="studySession.tags" item-class="'study-session__tag'" limit-items="5"></delimited-list>
          </div>
        </div>

        <div class="row">
          <div class="col col-50">
            <span class="study-session-item__location-description">
              <small>@ {{studySession.locationDescription}}</small>
            </span>
          </div>
          <div class="col col-50">
            <span class="study-session-item__time-remaining">
              <small>{{studySession.createdAt | sessionDuration:studySession.endingAt}}</small>
            </span>
          </div>
        </div>

      </ion-item>
    </ion-list>

    <!-- Tabs -->
    <div class="inner-tabs">
      <div class="inner-tabs__tab-container">
        <div class="button-bar bar-stable">
          <button class="button button-small" ng-class="{'button-dark' : activeTab === 'members'}" ng-click="activeTab = 'members'">Members</button>
          <button class="button button-small" ng-class="{'button-dark' : activeTab === 'courses'}" ng-click="activeTab = 'courses'">Courses</button>
        </div>
      </div>
      <ion-scroll class="inner-tabs__scroll-container" direction="y" zooming="true">
        <div class="inner-tabs__scroll-content">
          <!-- Members -->
          <ion-list ng-show="activeTab === 'members'">
            <div ng-repeat="user in studySession.users">
              <user-item user="user"></user-item>
            </div>
          </ion-list>
          <!-- Courses -->
          <ion-list ng-show="activeTab === 'courses'">
            <course-items courses="studySession.courses"></course-items>
          </ion-list>
        </div>
      </ion-scroll>
    </div>
  </ion-content>
  <ion-footer-bar class="padding">
    <button type="button" class="button button-full button-positive" ng-click="joinSession()" ng-if="!isSessionMember">Join this Session</button>
    <button type="button" class="button button-full button-positive" ng-if="isSessionMember" ng-click="optionsPopover.show($event)">Options</button>
  </ion-footer-bar>
</ion-view>

<script id="options-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar class="bar-dark">
      <h1 class="title">Options</h1>
    </ion-header-bar>
    <ion-content>
      <button class="button button-full button-stable" ui-sref=".editSession({id: studySession.id})" ng-click="optionsPopover.hide()">Edit Session</button>
      <button class="button button-full button-stable" ng-click="leaveSession()" ng-if="studySession.users.length > 1">Leave Session</button>
      <button class="button button-full button-stable" ng-click="deleteSession()" ng-if="isSessionCreator || studySession.users.length < 2">Delete Session</button>
    </ion-content>
  </ion-popover-view>
</script>
