<ion-view title="{{viewTitle}}">
  <ion-content>
<!-- Session members -->
    <form name="newSession">
      <ion-list can-swipe="true" show-delete="false">
        <ion-item class="item-divider item-icon-right">
          Members
<!-- <i class="icon ion-chevron-down"></i> -->
        </ion-item>
        <ion-item class="item-avatar" ng-repeat="user in studySession.users">
          <img ng-if="user.pictureUrl" ng-src="{{user.pictureUrl}}">
          <i class="icon ion-person img-icon" ng-if="!user.pictureUrl"></i>
          <span>{{user.name}}</span>
          <ion-option-button class="button-assertive ion-trash-a" ng-click="deleteUser($index)"></ion-option-button>
        </ion-item>
        <ion-item>
          <button class="button button-block button-stable button-small" name="button" ng-click="addMembersModal.init(); addMembersModal.show();" type="button">Add Members</button>
        </ion-item>
      </ion-list>
<!-- Session Courses -->
      <ion-list can-swipe="true" show-delete="false">
        <ion-item class="item-divider item-icon-right">
          Courses
<!-- <i class="icon ion-chevron-down"></i> -->
        </ion-item>
        <ion-item ng-repeat="course in studySession.courses">
          {{course.shortName}}
          <ion-option-button class="button-assertive icon ion-trash-a" ng-click="deleteCourse($index)"></ion-option-button>
        </ion-item>
        <ion-item>
          <button class="button button-block button-stable button-small" name="button" ng-click="addCoursesModal.init(); addCoursesModal.show();" type="button">Add Courses</button>
        </ion-item>
      </ion-list>

<!-- Session Tags -->
      <ion-list>
        <ion-item class="item-divider item-icon-right">
          Tags
<!-- <i class="icon ion-chevron-down"></i> -->
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item ng-repeat="tag in studySession.tags">
          {{tag}}
          <ion-option-button class="button-assertive icon ion-trash-a" ng-click="deleteTag($index)"></ion-option-button>
        </ion-item>

        <ion-item>
          <button class="button button-block button-stable button-small" name="button" ng-click="addTags()" type="button">Add Tags</button>
        </ion-item>
      </ion-list>

<!-- Session Time -->
      <ion-list>
        <ion-item class="item-divider">
          Time
        </ion-item>

        <ion-item ng-click="editStartTime()">
          Start
          <span class="item-note">
            {{start.date | date:"shortDate"}}
            {{start.time.display}}
            <i class="icon ion-edit"></i>
          </span>
        </ion-item>

        <label class="item item-input item-select">
          <div class="input-label">
            How long?
          </div>
          <select ng-model="duration" ng-options="duration.display for duration in durationOptions"></select>
        </label>

      </ion-list>
<!-- Session Location -->
      <ion-list>
        <ion-item class="item-divider">
          Location
        </ion-item>
        <label class="item item-input">
          <input ng-model="studySession.locationDescription" placeholder="ex. Library, 5th floor" type="text" required/>
        </label>
      </ion-list>
    </form>
  </ion-content>
  <ion-footer-bar class="padding">
    <button class="button button-full button-positive" ng-click="submitCreate()" ng-if="isCreating">Create Session</button>
    <button class="button button-full button-positive" ng-click="submitSave()" ng-if="isEditing">Save Session</button>
  </ion-footer-bar>
</ion-view>
