<div>
  <div class="{{class}}" ng-repeat="item in items">
    <button type="button" name="button" class="button button-stable" ng-click="onClick()">
      {{getValue(item)}}
    </button>
    <button class="button button-stable icon ion-close-round" ng-if="canDelete" ng-click="onDelete()"></button>
  </div>
  <div class="{{class}}" ng-if="canCreate" ng-click="onCreate()">
    <button class="button button-stable icon-right ion-plus-round">Add</button>
  </div>
</div>
