%badge-base {
  display: inline-block;

  // padding: 5px;
  border: 1px solid #ddd;
  margin: 5px;
  border-radius: 1px;
}
.badge {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 2px;
}
