.inner-tabs {
  height: 100vh;
  width: 100%;

  &__tab-container {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  &__tab {

  }

  &__scroll-container {
    height: 100vh;
    width: 100%;

    & .scroll-bar-indicator {
      display: none;
    }

  }

  &__scroll-content {
    padding-bottom: 100vh;
  }

}
