ion-footer-bar {
  padding: 0 !important;
  .button.button-full {
    margin: 0;
  }
}

.item-divider {
  .button {
    margin: 0;
  }
}

$height-ion-header-bar: 44px;
$height-ion-tabs: 49px;
$height-ion-sub-header-bar: 55px;

ion-header-bar.bar-subheader {
  height: $height-ion-sub-header-bar;
}

ion-content.has-subheader {
  top: $height-ion-header-bar + $height-ion-sub-header-bar;
}

.platform-android ion-tabs ion-header-bar.bar-subheader {
  top: $height-ion-header-bar + $height-ion-tabs;
}

.platform-android ion-tabs ion-content.has-subheader {
  top: $height-ion-header-bar + $height-ion-sub-header-bar + $height-ion-tabs;
}

.item-avatar {
  min-height: 0px;
}

.row {
  margin: 10px 0px;
  padding: 0px;
}

.col {
  margin: 0px;
  padding: 0px;
}

// http://stackoverflow.com/questions/27153528/vertical-scrolling-not-working-in-ionic
ion-scroll[direction=x] {
  width: 100vw;
}
ion-scroll[direction=y] {
  height: 100vh;
}
