<!-- Standard bar with no menu -->
<ion-nav-bar class="bar-dark" align-title="center">
    <!-- Back Button -->
    <ion-nav-back-button>
    </ion-nav-back-button>
</ion-nav-bar>
<ion-nav-view></ion-nav-view>
