<ion-side-menus enable-menu-with-back-views="true" ng-controller="MenuController">
  <!-- View Content -->
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <!-- Back Button -->
      <ion-nav-back-button></ion-nav-back-button>
      <!-- Hamburger Button -->
      <ion-nav-buttons side="right">
        <button class="button button-icon ion-navicon" menu-toggle="right"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <!-- View Content -->
    <ion-nav-view></ion-nav-view>
  </ion-side-menu-content>
  <!-- Right Side Menu Implementation -->
  <ion-side-menu side="right">
    <!-- Menu Header -->
    <ion-header-bar class="bar bar-positive">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <!-- Menu Items -->
    <ion-content>
      <ion-list>
        <!-- User name and Picture -->
        <ion-item menu-close ui-sref=".profile({id: auth.currentUser.id})">
          <div class="row">

            <div class="col profile__img-container">
              <img class="profile__img" height="70" ng-if="auth.currentUser.facebookId" ng-src="http://graph.facebook.com/{{auth.currentUser.facebookId}}/picture" width="70" />
              <i class="icon ion-person img-icon--profile" ng-if="!auth.currentUser.facebookId"></i>
            </div>
            <div class="col user-details">
              <h2 ng-bind="auth.currentUser.name"></h2>
            </div>
          </div>
        </ion-item>
        <ion-item class="item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input placeholder="Search Users" type="search">
          </label>
        </ion-item>
        <!-- These four items are links -->
        <ion-item menu-close ui-sref="base.tab.studyboard">
          Home
        </ion-item>
        <ion-item menu-close ui-sref="base.myprofile">
          My Profile
        </ion-item>
        <ion-item menu-close ui-sref="base.myaccount">
          My Account
        </ion-item>
        <ion-item menu-close ui-sref="base.settings">
          Settings
        </ion-item>
        <!-- This item calls a function in the controller -->
        <ion-item menu-close ng-click="logout()" ui-sref="auth.login">
          Log Out
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
