<ion-tabs class="tabs-color-dark tabs-striped">
    <ion-tab title="Courses" nav-clear ui-sref="base.tab.mycourses">
        <ion-nav-view name="MyCourses"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Board" nav-clear ui-sref="base.tab.studyboard">
        <ion-nav-view name="StudyBoard"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Teams" nav-clear ui-sref="base.tab.myteams">
        <ion-nav-view name="MyTeams"></ion-nav-view>
    </ion-tab>
</ion-tabs>
