<div class="item-input">
  <i class="icon ion-ios-search placeholder-icon"></i>
  <input type="text" placeholder="{{placeholder}}" ng-model="filterText">
  <button type="button" class="button button-clear icon ion-close-circled" ng-click="filterText = ''"></button>
</div>
