<ion-view view-title="StudyDraft: Login" hide-back-button="true">
  <ion-content class="padding">
    <!-- Intro Text -->
    <div class="card" style="text-align: center">
      <div class="item ">
        <h2>Welcome to StudyDraft</h2>
        <h3>Finally a social network that helps you study.</h3>
      </div>
    </div>
    <!-- Login Form -->
    <form ng-submit="loginForm.submit()">
      <ion-list class="list list-inset">
        <label class="item item-input">
          <input type="email" placeholder="Email" ng-model="loginForm.email">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="loginForm.password">
        </label>
      </ion-list>
      <button class="button button-block button-dark" type="submit">
        Login
      </button>
    </form>
    <!-- Login with Facebook -->
    <button class="button button-block button-dark icon-left ion-social-facebook" ng-click="loginFacebook()">
      Login with Facebook
    </button>
    <!-- Link to Register View -->
    <button class="button button-block button-dark" ui-sref="auth.register">
      Not a Member? Register Now!
    </button>
    <!-- Forgot Password Button -->
    <button class="button button-block button-light" ng-click="passwordResetModal.show()">
      Forgot your password?
    </button>
  </ion-content>
</ion-view>
<!-- Password Reset Email -->
<script id="password-reset-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar-dark">
      <h1 class="title">Reset Your Password</h1>
    </ion-header-bar>
    <ion-content class="padding">
      <ion-list class="list list-inset">
        <ion-item class="item-text-wrap">
          <p>Enter your email to receive a temporary replacement password.</p>
        </ion-item>
        <label class="item item-input">
          <input type="email" placeholder="Email" ng-model="passwordResetForm.email">
        </label>
      </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-dark">
      <div class="button-bar">
        <button class="button button-positive" ng-click="passwordResetForm.submit();">
          Submit</button>
        <button class="button button-assertive" ng-click="passwordResetModal.hide()">
          Cancel</button>
      </div>
    </ion-footer-bar>
  </ion-modal-view>
</script>
